@import "variables";
@import "usnwc-core";

/*
    Hides ToolTip Hover
*/
@import "calendar-full";
/*

        
        Hides ToolTip Hover


*/
.post-type-archive-tribe_events .tribe-events-tooltip-theme {
  display: none !important;
}
body.single-tribe_events {
    .wrapper {
        padding: 0;
    }
}
/*

        
        Hides Details Below


*/
.single-tribe_events .tribe-events-event-meta {
    // display: none;
}
.tribe-events-content {
    .addtoany_content {
        // display: none;
    }
}

.tribe-events .tribe-events-calendar-month__day-cell--selected {
    background-color: $color-red;
}
.tribe-common button.tribe-common-c-btn, 
.tribe-common a.tribe-common-c-btn {
    &:hover {
        background-color: rgba($color-red, .5);
    }
}
.tribe-common .tribe-common-c-btn:focus, 
.tribe-common .tribe-common-c-btn:hover, 
.tribe-common a.tribe-common-c-btn:focus, 
.tribe-common a.tribe-common-c-btn:hover {
    background-color: rgba(#000, .5);
}
.tribe-common .tribe-common-h7, .tribe-common .tribe-common-h8 {
    color: $color-red;
    
}
.tribe-events .tribe-events-calendar-month__multiday-event-bar-inner {
    background-color: rgba(#000,.1);
}
.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link {
    color: $color-red;
}
.tribe-events .tribe-events-c-ical__link {
    border: 1px solid $color-red;
    color: $color-red;
    border-radius: 0;
    &:hover {
        background-color: $color-red;
        color: #fff;
    }
}
.tribe-events-c-day-marker.tribe-events-calendar-month-mobile-events__day-marker {
    width: 100%;
    text-align: center;
    .tribe-events-c-day-marker__date.tribe-common-h7.tribe-common-h--alt {
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        width: 100%;
    }
}
.tribe-events .tribe-events-calendar-month__mobile-events-icon--event {
    background-color: $color-red;
}
.tribe-events .tribe-events-calendar-month__day-cell--selected {
    background-color: rgba($color-red, 1);
    background: rgba($color-red, 1);
    &:hover {
        background-color: rgba($color-red, .5);
    }
}
.tribe-events .datepicker .month.active, .tribe-events .datepicker .month.active.focused,
.tribe-events .tribe-events-calendar-month__day-cell--selected {
    background-color: $color-red;
    background: $color-red;
}
.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date {
    color: $color-red;
}
.tribe-events-calendar-month__day-cell--selected {
    .tribe-events-calendar-month__day-date-daynum {
        color: #fff;
    }
}
.tribe-events-calendar-month-mobile-events__mobile-event-title-link.tribe-common-anchor {
    padding: 10px;
    border: 1px solid $color-red;
    color: $color-red;
}
h3.tribe-events-calendar-month-mobile-events__mobile-event-title.tribe-common-h7 {
    padding-top: 20px;
}
.tribe-events-sub-nav li a,
#tribe-events .tribe-events-button, .tribe-events-button {
    background-color: #fff;
    color: $color-red;
    border: 1px solid $color-red;
}
.single-tribe_events .tribe-events-event-meta {
    border: 0;
}
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous, #tribe-events-footer .tribe-events-sub-nav li {
    margin-right: 0;

}
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next {
    margin-left: 0;
    padding: 5px;
    @media screen and (min-width: $tabwidth) {
        padding: 20px;
    }
}
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous {
    padding: 5px;
    @media screen and (min-width: $tabwidth) {
        padding: 20px;
    }
}
nav.tribe-events-nav-pagination ul.tribe-events-sub-nav li a, ul.tribe-events-sub-nav a {
    color: $color-red;
    
}
li.tribe-events-nav-previous, li.tribe-events-nav-next {
    border: 0;
    a {
        color: $color-red !important;
        border: 0;
        &:before {
            color: $color-red !important;
            // background-color: $color-red;
        }
        span {
            display: none !important;
        }
        &:after {
            color: $color-red;
        }
    }
}
.tribe-events-single .tribe-events-sub-nav .tribe-events-nav-previous a:before,
.tribe-events-single .tribe-events-sub-nav .tribe-events-nav-next a:after {
    // background:none;
}
.tribe-events-single .tribe-events-sub-nav a span {
    display: inline-block;
}
.tribe-events-sub-nav li a, #tribe-events .tribe-events-button, .tribe-events-button {
    padding: 10px 20px;
}
.single-tribe_events #tribe-events-footer li, .single-tribe_events #tribe-events-header li {
    // width: 100%;
    width: 48%;
    @media screen and (min-width: $tabwidth) {
        width: 48%;
    }
}
.tribe-events-single .tribe-events-sub-nav {
    display: block;
    @media screen and (min-width: $tabwidth) {
        display: flex;
    }
    li.tribe-events-nav-previous a, li.tribe-events-nav-next a {
        display: block;
        @media screen and (min-width: $tabwidth) {
            display: inline-block;
        }
    }
}
.tribe-events-c-subscribe-dropdown__container {
    justify-content: center !important;
    margin: 0 auto !important;
    @media screen and (min-width: $tabwidth) {
        justify-content: flex-end !important;
        margin: 0 !important;
    }
}
.tribe-events-c-subscribe-dropdown__button {
    &:hover, &:focus, &:focus-within {
        background-color: $color-red !important;
        color: #fff !important;
    }
}
li.tribe-events-c-subscribe-dropdown__list-item a {
    color: $color-red !important;
}
body.single-tribe_events {
    #tribe-events {
        margin-top: 0;
    }
    .text-centered-section p {
        padding-top: 0;
        margin: 0;
    }
    .tribe-events-back p {
        margin: 0;
    }
    h1.page-title:after {
        margin: 0;
        display: none;
    }
    section.text-centered-section {
        padding-top: 0;
    }
    .navbar {
        .wrapper {
            padding: 10px 20px 6px 20px;
        }
    }
}