/*
    Whitewater Specific Variables
*/
// Brand Red
$color-red: #ba0d30;
$portrait:480px;
$xswidth: 600px;
$tabwidth: 820px;
$midwidth: 960px;
$deskwidth: 1200px;
$xxl: 1300px;
$nav_width: 350px;

@mixin xxs { @media (min-width: $portrait) { @content; } }
@mixin xs { @media (min-width: $xswidth) { @content; } }
@mixin tab { @media (min-width: $tabwidth) { @content; } }
@mixin mid { @media (min-width: $midwidth) { @content; } }
@mixin desk {  @media (min-width: $deskwidth) { @content; } }
@mixin xxl {  @media (min-width: $xxl) { @content; } }